footer{
  background: #e2e2e2;
  color: #000;
  font-size: 0.8rem;
  padding: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  span{
    text-align: center;
    display: block;
  }
}
